@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.container {
  display: flex;
  background: #f0f0f0;
  width: 1280px;
  height: 856px;
  margin: 0 auto 0 auto;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer {
  background: #000000;
  width: 1280px;
  height: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 0 auto;
}
.datasrc {
  margin-left: 85px;
  font-weight: bold;
  font-family: "Open Sans";
}
.copyright {
  font-size: 16px;
  margin-right: 85px;
  font-family: "Open Sans";
}
.title {
  font-size: 40px;
  font-family: "Noto Sans TC";
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 8px;
}
.title::after {
  content: "(AQI)";
  margin-left: 11px;
}
.location {
  width: 350px;
  height: 56px;
  border: none;
  cursor: pointer;
  outline: 3px solid black;
  font-size: 16px;
  font-family: "Noto Sans TC";
  font-weight: bold;
  line-height: 24px;
  background: #ffffff;
}
.standardTable,
th,
td {
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  line-height: 24px;
  text-align: center;
  border: 3px solid #000000;
  border-collapse: collapse;
  background: #ffffff;
}
.standardTable > thead > tr > th {
  width: 121.67px;
  height: 54px;
}
.standardTable > tbody > tr > td {
  width: 121.67px;
  height: 56px;
}
.standardTable > tbody > tr > td > div {
  width: 80px;
  line-height: 24px;
  margin: 0 auto 0 auto;
}
.standardTable > thead > tr > th:nth-child(1) {
  background: #95f084;
}
.standardTable > thead > tr > th:nth-child(2) {
  background: #ffe695;
}
.standardTable > thead > tr > th:nth-child(3) {
  background: #ffaf6a;
}
.standardTable > thead > tr > th:nth-child(4) {
  background: #ff5757;
}
.standardTable > thead > tr > th:nth-child(5) {
  background: #9777ff;
}
.standardTable > thead > tr > th:nth-child(6) {
  background: #ad1774;
}
.titleBox {
  margin-top: 40px;
}
.standardTableBox {
  margin-top: 53px;
}
.cityBox {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.cityName {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  font-family: "Noto Sans TC";
  margin-right: 12px;
}
.line {
  width: 900px;
  border-top: 5px dotted black;
}
.update {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans";
  line-height: 24px;
  margin-left: 24px;
}
.status {
  display: grid;
  grid-template-columns: 85px repeat(3, 350px) 85px;
  grid-column-gap: 30px;
  grid-template-rows: auto;
  margin-top: 32px;
}
.box {
  display: flex;
  background: #ffffff;
  border: 3px solid #000000;
  grid-column: 2/3;
  height: 535px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.chooseBox {
  display: flex;
  width: 350px;
  height: 97px;
  border-bottom: 3px solid #000000;
  justify-content: space-between;
}
.name {
  font-size: 36px;
  font-family: "Noto Sans TC";
  font-weight: bold;
  line-height: 97px;
  margin: 0 auto 0 auto;
}
.num {
  background: #ff5757;
  border-left: 3px solid #000;
  width: 160px;
  height: 97px;
  font-size: 48px;
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 97px;
  text-align: center;
}
.o3 {
  width: 290px;
  height: 72px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.pm10 {
  width: 290px;
  height: 72px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.pm25 {
  width: 290px;
  height: 72px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.co {
  width: 290px;
  height: 72px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.so2 {
  width: 290px;
  height: 72px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.no2 {
  width: 290px;
  height: 72px;
  display: flex;
  align-items: center;
}
.chinese {
  font-size: 24px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  line-height: 36px;
  margin-right: 8px;
}
.english {
  font-size: 8px;
  font-weight: bold;
  font-family: "Open Sans";
  line-height: 24px;
  margin-top: 12px;
}
.value {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans";
  line-height: 24px;
  margin-left: auto;
}
.caseContainer {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 535px;
  align-content: flex-start;
  overflow-y: scroll;
}
.case {
  cursor: pointer;
  background: #ffffff;
  display: flex;
  width: 350px;
  height: 97px;
  border: 3px solid #000000;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
